input{
    width: 600px;
    color: rgba(255, 255, 255, 0.3);
    height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    border: solid 2px black;
}
button:hover{
    background-color: rgba(239, 239, 239, 0.883);
}


#carrinho:hover{
    background-color: rgba(31, 30, 30, 0.912);
}
