.login{
    border: 1px solid black;
    width: 500px;
    height: 600px;
    background: url(img_nike/off-white-x-air-jordan-1-chicago-1660317490215_v2_900x506.jpg);
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: auto;

}
.pai{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
form{
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex ;
    gap: 5px;

}
h1{
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    margin-bottom: 60px;
}
input{
    color: rgba(255, 255, 255, 0.3);
    height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);

}
button{
    height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    background: rgb(231, 45, 45);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}
button:hover{
    background: rgb(192, 40, 40);

}
a{
    color: lightblue;
    padding-left: 10px;
}
nav ul{
    display: flex;
    border: solid rgb(255, 255, 255);
    margin: auto left;

}
nav{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    height: 70px;
}
nav ul li{
    list-style: none;
    margin: auto 0;
    padding-right: 45px;
    
    
}
.lupa{
    height: 15px;
    width: 20px;
}
nav img{
    width: 100px;
    border: solid rgb(255, 255, 255);
    height: 60px;
}
.barra{
    display: block;
    margin: auto 0;

}
input{
    width: 380px;
}
li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
li a:hover{
    color: red;
    transition: 0.5s;
    transition-duration: 0.5s;
    text-shadow: 12px pink,
   0 0 39px red,
   0 0 59px orange,
   0 0 85px green,
    127px yellow,
    151px blue ;

}